################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/noricdausen.com.slnx/FileContentIndex/f7bab03f-208a-446c-b6f2-bb62990cf346.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/2d37eb51-e95d-4575-a4bf-eb776bad784a.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/f0e263eb-759d-4228-96c8-1bf8bf3b2d78.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/856df5fa-c3ec-4324-ada9-b958ecdc8ed5.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/1ccdd647-abce-44c8-a20c-2ccc59e6de34.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/c4e58889-7b76-4688-b8e5-f5248ee93974.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/6513ca7a-209e-4972-bb49-8a8e459ffef5.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/1cfd621f-ad10-4a3a-be76-aa535b5562b2.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex/b679964b-d27e-44c5-9929-17bbc322496e.vsidx
/.vs/noricdausen.com.slnx/FileContentIndex
/.vs/slnx.sqlite
