/*Prevents rescaling causing elements to break*/

* {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: border-box;
    transition: color 0.4s;
}

html, body { 
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: #fff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

    body.dark-mode {
        background-color: #121212;
        color: #eee;
    }

/*#region Dark Mode Toggle Switch */

/* The container for dark mode switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 1.5rem;
}

    /* Hide the default checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider track */
.slider {
    position: absolute;
    width: 60px;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

    /* The sliding circle (the knob) */
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

/* When checked: change background to blue */
input:checked + .slider {
    background-color: #122055;
}

    /* When checked: move the circle to the right */
    input:checked + .slider:before {
        transform: translateX(26px);
    }
/*#endregion */

/*#region Logos */

/* display logos in a flex container */
.logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* debug border */
    /* border: dotted 2px red; */
}


.logo-container {
    position: relative;
    width: 500px;
    height: 500px;
    /* debug border */
    /* border: dotted 2px red; */
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.4s ease-in-out; /* This creates the fade */
}

/* Initially, hide the white/inverted logo */
.logo-light {
    opacity: 0;
}

/* When the 'dark-mode' class is added to the body... */
body.dark-mode .logo-dark {
    opacity: 0;
}

body.dark-mode .logo-light {
    opacity: 1;
}

/*#endregion */

/* #region Navbar */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    padding: 0 0% 0 0%;
    width: 100%; 
    height: 5rem;
    z-index: 1000;

    background-color: white;
    /* border-bottom: 1px solid #eee; */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.4s;
}

.nav-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    padding: 0 0% 0 0%;
}

.nav-links {
    margin-left: 0rem;
    display: flex;
    list-style: none;
    gap: 1rem;
}

    .nav-links a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        transition: color 0.3s;
        margin: 0.5rem;
        align-self: center;
    }

        .nav-links a:hover {
            color: #3dafe9;
        }

.nav-links-mobile {
    display: none;
    margin-left: 2rem;
    list-style: none;
    gap: 1rem;
    background-color: #f4f4f4;
}

body.dark-mode .nav-links-mobile {
    background-color: #2a2a2a;
}

    .nav-links-mobile a {
        text-decoration: none;
        color: #333;
        font-weight: 500;
        transition: color 0.3s;
        margin: 0.5rem;
        align-self: center;
    }

    body.dark-mode .nav-links-mobile a {
        color: #eee;
    }

        .nav-links-mobile a:hover {
            color: #3dafe9;
        }

body.dark-mode .navbar {
    background-color: #1a1a1a;
}

body.dark-mode .nav-links a {
    color: white;
    transition: color 0.3s;
}

.logo-navbar-container {
    position: relative;
    width: 412px; /* Adjust to your logo size ---550w 70l for banner variant*/
    height: 53px;
    left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem; /*1rem top margin for banner variant*/
    margin-left: 8%;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.logo-link {
    text-decoration: none;
    cursor: pointer;
}



.hamburger-line {
    position: relative;
    top: 0.5rem;
    left: 0.15rem;
    width: 2.5rem;
    height: 0.25rem;
    cursor: pointer;
    background-color: #393939;
    transition: .4s;
    border-radius: 4rem;
}

.hline-short {
    width: 1.5rem;
    top: 0.75rem;
    left: 0.7rem;
}

.hamburger {
    display: none; /* Hidden by default, shown on smaller screens */
    flex-direction: column;
    cursor: pointer;
    font-size: 30px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    background-color: transparent;
    background: none;
    border: none;
    gap: 5px;
    width: 60px;
    height: 40px;
    -webkit-tap-highlight-color: transparent;
    margin-left: 2.5rem;
}

/* 2. Mobile Styles (Screens smaller than 768px) */
@media screen and (max-width: 768px) {

    .navbar {
        width: 100%;
        position: center;
        height: 4rem;
    }

    .nav-main-container {
        justify-content: flex-start;
    }

    .switch {
        position: absolute;
        right: 2rem;
        justify-self: flex-end;
        margin-right: 2.5rem;
    }

    .hamburger {
        display: flex; /* Show hamburger on mobile */
        position: absolute;
        right: 0.5rem;
        /*border: dotted 2px red;*/
    }

    .nav-links-mobile {
        display: flex; /* enable the mobile nav-link segment */
        flex-direction: column;
        position: absolute;
        top: -12rem; /* Hide links above screen by default on mobile */
        right: 0;
        background: white;
        width: 100%;
        text-align: center;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        padding: 1rem 0;
        height: 10rem;
        transition: 0.25s ease-in-out; /*hamburger menu fall transition*/
        z-index: 1;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile li {
        opacity: 0;
        transition: 0.25s ease-in-out; /*hamburger menu text transition*/
    }

        /* This class will be added via JavaScript */
        .nav-links-mobile.active {
            top: 45px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        }

            .nav-links-mobile.active li {
                opacity: 1;
            }

    .hline-short.active {
        top: 0rem;
    }

    .hline-long.active {
        top: 1.375rem; 
    }

    .logo-navbar-container {
        width: 80px; /* Adjust to your logo size */
        height: 80px;
        margin-top: 0rem;
    }

}

/* #endregion*/

/*#region Footer*/

.footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.4s, color 0.4s;
    align-content: center;
    align-items: center;
    font-size: 0.8rem;
}

body.dark-mode .footer {
    background-color: #1a1a1a;
    color: #eee;
}

.footer a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
    margin: 0rem 1rem 0 1rem;
}

body.dark-mode .footer a {
    color: #eee;
}


.footer a:hover {
    border-bottom: 3px solid #333;
    padding-bottom: 0.2rem;
    display: inline-block;
}

body.dark-mode .footer a:hover {
    border-bottom: 3px solid #eee;
}

.logo-footer-container {
    position: absolute;
    width: 60px; /* Adjust to your logo size */
    height: 60px;
    margin-top: -1rem;
    margin-left: -4.5rem;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

@media screen and (max-width: 768px) {

    .logo-footer-container {
        display: none; /*There's not room for the logo on mobile screens, so just turn it off*/
    }

    .footer span {
        display: block; /*stack the <span> (Copyright + All rights reserved) on top of the links*/
        margin-bottom: 0.75rem;
    }
}

/*#endregion*/

/* #region Logo Animation */

.logo-svg {
    width: 300px;
    fill: none;
    stroke: #000;
    stroke-width: 16;
    stroke-linecap: square;
    stroke-linejoin: round;
    border: dotted 1px black;
}

.letter {
    /* 1. define a dash length longer than the path itself */
    stroke-dasharray: 300;
    /* 2. push the dash completely off the screen */
    stroke-dashoffset: 300;
}

/* The Animation Trigger */
.logo-svg:hover .letter {
    animation: drawIn 2s forwards ease-in-out;
}

@keyframes drawIn {
    0% {
        stroke-dashoffset: 300; /* Fully hidden */
    }

    100% {
        stroke-dashoffset: 0; /* Fully drawn */
    }
}

/* #endregion */

.clipped {
    /* logo animation variables */
    --n-start: 16.5%;
    --n1-end: 26.5%;
    --n1-current-height: 69.2%;
    --n1-start-height: 69.2%;

    background-color: #3dafe9;

    animation: clipReveal 0.8s ease-out forwards;
}

@keyframes clipReveal {
    0% {
        background-color: #3dafe9;
        clip-path: polygon(
            var(--n-start) var(--n1-current-height), 
            var(--n1-end) var(--n1-current-height), 
            var(--n1-end) var(--n1-start-height), 
            var(--n-start) var(--n1-start-height)
        );
    }
    100% {
        background-color: #fc038c;

        clip-path: polygon(
            var(--n-start) 31%, 
            var(--n1-end) 31%, 
            var(--n1-end) var(--n1-start-height), 
            var(--n-start) var(--n1-start-height)
        );
    }

}
