body {
    background-color: #fff;
}

/* The container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide the default checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider track */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

    /* The sliding circle (the knob) */
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }

/* When checked: change background to blue */
input:checked + .slider {
    background-color: #122055;
}

/* When checked: move the circle to the right */
input:checked + .slider:before {
    transform: translateX(26px);
}

.logo-container {
    position: relative;
    width: 500px; /* Adjust to your logo size */
    height: 500px;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.4s ease-in-out; /* This creates the fade */
    margin: -0.375rem 0 0 0;
}

/* Initially, hide the white/inverted logo */
.logo-light {
    opacity: 0;
}

/* When the 'dark-mode' class is added to the body... */
body.dark-mode .logo-dark {
    opacity: 0;
}

body.dark-mode .logo-light {
    opacity: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.4s;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    background-color: #1a1a1a;
}

body.dark-mode .navbar {
    background-color: #1a1a1a;
}

body.dark-mode .nav-links a {
    color: white;
}

.logo-navbar-container {
    position: relative;
    width: 100px; /* Adjust to your logo size */
    height: 100px;
}